.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 1);
    // opacity: 0.5;
    transition: all .3s ease-out;
    // transition-delay: z-index 

    &--On {
        opacity: 0.5;
    }

    &--Off {

        visibility: hidden;
        opacity: 0;
    }
}