.Logo {
    height: 50%;

    img {
        height: 100%;
    }
}

.Logo__SideDrawer {
    padding: 1rem;
    height: 7rem;
    margin-top: 4rem;
    margin-bottom: 2rem;

    img {
        height: 100%
    }
}